.blogTitle{
    font-size: 2rem;
    font-weight: 400    ;
}

.blogDate{
    color: rgb(150, 150, 150);
    display: inline;

}

.blogTag{
    display: inline;
    padding: 6px;
    margin: 5px;
    background-color: rgb(177, 219, 255);
    border-radius: 10px;
}

.link:hover{
    color: initial;
}