@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
  width: 100% !important;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1 {
  @apply text-5xl font-bold text-black dark:text-white inline;
}

h2 {
  @apply text-3xl font-semibold text-black dark:text-white;
}

h3 {
  @apply text-xl font-medium text-gray-800 dark:text-gray-200;
}

footer a {
  @apply text-lg font-medium hover:underline;
}

.button {
  @apply w-max rounded-md bg-sky-700 dark:bg-slate-700 font-semibold p-2 my-2 shadow-lg hover:shadow-xl text-gray-100
}

.prose img {
  @apply shadow-xl rounded-xl;
}

.rehype-code-title {
  @apply px-5 py-3 text-sm font-bold rounded-t-lg bg-gray-800 dark:bg-[#000000] text-gray-300 border-b-2 border-gray-700 dark:border-[#111111];
}

.rehype-code-title + pre {
  @apply mt-0 rounded-t-none;
}

.prose pre {
  @apply dark:bg-[#000000] shadow-md;
}

pre {
  overflow-x: auto;
}

.code-highlight {
  float: left; /* 1 */
  min-width: 100%; /* 2 */
}

.code-line {
  display: block;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: -16px;
  margin-right: -16px;
  border-left: 4px solid rgba(0, 0, 0, 0);
  @apply text-sm;
}

.code-line.inserted {
  background-color: rgba(16, 185, 129, 0.2);
}

.code-line.deleted {
  background-color: rgba(239, 68, 68, 0.2);
}

.highlight-line {
  margin-left: -16px;
  margin-right: -16px;
  background-color: rgba(55, 65, 81, 0.5);
  border-left: 4px solid rgb(59, 130, 246);
  @apply dark:bg-gray-900 border-sky-800;
}

.line-number::before {
  display: inline-block;
  width: 1rem;
  text-align: right;
  margin-right: 16px;
  margin-left: -8px;
  color: rgb(156, 163, 175); /* Line number color */
  content: attr(line);
}

.dark .bg-home-gradient {
  background: rgb(9,51,122);
  background: linear-gradient(180deg, rgba(9,51,122,1) 0%, rgba(0,16,66,1) 100%);
}

.dark {
  background:  rgba(0,16,66,1)
}

.colorful-text {
  background: linear-gradient(90deg, rgba(255,22,85,1) 0%, rgba(142,142,142,1) 50%, rgba(62,212,170,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: rgba(62,212,170,1)!important
}