.navbar {
    background-color: inherit;
    box-shadow: none;
}

.dropdown{
    color: green;
}

.brand{
    color: rgb(80, 80, 80);
    font-weight: 600;
}

.links{
    font-weight: 500;
    color: rgb(189, 189, 189);
}

.links:hover{
    color: rgb(134, 134, 134);
}

