.titleBlue {
  color: #1e6dff;
}


.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

hr.hr{
  color: black;
  border: 1px solid black;
  opacity: 100;
  width: 500px;
}

.title,
.description {
  text-align: center;
}
